@font-face { font-family: Railsonfire; src: url('/files/railsonfire-font.otf'); }

body{
  background-repeat: repeat-x;
  background-image:url(/images/bg_lines_repeater.png)
}

#menu{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 13px;
  margin-bottom: 20px;
  height: 21px;
}
#menu a{
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
  color: #06C;
  text-decoration: none;
}
#company_links a, #user_links a{
  margin-right:10px;
}
#company_links a:last-child {
  margin-right: 0px;
}
.social-media a {
  height: 23px;
  width: 24px;
  float: right;
  margin-left: 2px;
  margin-right:0px;
}

#header{
  margin: 14px 0px 8px 0px;
  height: 74px;
}
#try_now{
  z-index:5;
  position: relative;
  top:-20px;
  float:right;
}

#categories a, #categories li{
  text-decoration:none;
  font-family:verdana;
  color:#000000;
}

#categories h3 a{
  font-size:11pt;
  font-weight:bold;
}

#categories h3{
  margin-bottom:0.5em;
}

#categories li{
  list-style-image:url(/images/arrow_dark.png);
  line-height: 16pt;
}

#categories li a{
  font-size:10pt;
}

#categories li a:hover{
  color:#333;
}

#content{
  min-height: 300px;
  margin-right:0px;
}

h2{
  font-family:Railsonfire;
  font-size:20px;
}

.landing_link{
  width:233px;
  height: 226px;
  display:inline-block;
}

#add_project{
  background-image:url(/images/landing/getting_started.png)
}
#add_project:hover{
  background-image:url(/images/landing/getting_started_hover.png)
}

#deploy{
  background-image:url(/images/landing/deployment.png)
}
#deploy:hover{
  background-image:url(/images/landing/deployment_hover.png)
}

#troubleshooting{
  background-image:url(/images/landing/troubleshooting.png)
}
#troubleshooting:hover{
  background-image:url(/images/landing/troubleshooting_hover.png)
}

#header #pages a:focus, #header #pages a:hover, #header #pages a:active {
  color: #0099FF;
}

a:focus, a:hover, a:active {
  color: #0099FF;
}

#footer ul {
  list-style-type: none;
  padding-left: 0px;

}

/* line 297, ../../app/stylesheets/railsonfire.scss */
#footer {
  padding-top: 10px;
  padding-left: 20px;
  border-top: 1px solid #CCC;
  margin-top:35px;
}

/* line 303, ../../app/stylesheets/railsonfire.scss */
#footer a {
  color: #76797C;
  font-size: 11px;
  font-family: arial;
}

/* line 309, ../../app/stylesheets/railsonfire.scss */
#footer h3 {
  color: #387FD5;
  font-size: 12px;
  font-family: arial;
  margin-bottom: 5px;
  font-weight: bold;
}

#footer a{
  text-decoration:none;
}
pre{
  white-space: pre-wrap;
}
.disable{
  font-weight:bold;
  font-size:10px;
}
