---
layout: default
---

<h2>{{ page.title }}</h2>
{% if content %}
  {{ content }}
{% else %}
  {{ page.content }}
{% endif %}
<h3>Support</h3>

<p>If you use our Heroku Addon and have further questions or need support please go to <a href="https://support.heroku.com" target="_blank">https://support.heroku.com</a> and add a ticket there.</p>

<p>You can also send an email to <a href="mailto:flo@railsonfire.com">flo@railsonfire.com</a>, a tweet to <a href="http://twitter.com/railsonfire" target="_blank">@Railsonfire</a> or use the chat box in the lower right corner of our website.</p>
